body,root ,html{


  text-align: center;

   /* The image used */
   background-image: url("../src/assests/images/pexels-photo-3184431.webp");


   /* Set a specific height */
   min-height: 500px; 

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
 }

a{color: rgb(38, 95, 144);
font-size: x-large;}
input,select,button{font-size: x-large;}